<div fxLayout="row" fxLayoutAlign='center center'>
    <mat-card class="card" fxLayout="column">

   
        <mat-form-field appearance="outline">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="email" placeholder="email">
       
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>phoned</mat-label>
            <input matInput [(ngModel)]="password" placeholder="password">
    
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="submit()">Primary</button>

    </mat-card>

</div>