<div fxLayout="row" fxLayoutAlign='center center' class="mar">
   
    <mat-card class="card" fxLayout="column">
        <div class="mar" >
            <h1>  On-line-Pay -center</h1>
           
        </div>
        <mat-form-field [style.fontSize.px]="12" appearance="outline">
            <mat-label>email</mat-label>
            <input matInput [(ngModel)]="email" placeholder="email">
        </mat-form-field>
        <mat-form-field [style.fontSize.px]="12" appearance="outline">
            <mat-label>password</mat-label>
            <input matInput [(ngModel)]="password" placeholder="password">
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <a routerLink="/signup">create account</a>
        <button mat-raised-button color="primary" (click)="submit()">login</button>


        </div>
    </mat-card>
</div>